<form>
Enter Jobtitle<input type="text" ng-model="job.jobtitle"><br>
Enter Job description<input type="text" ng-model="job.jobdescription"><br>
Enter Yrs of experience<input type="text" ng-model="job.yearsofexperince"><br>
Enter Skills required<input type="text" ng-model="job.skillsrequired"><br>
Enter salary<input type="text" ng-model="job.salary"><br>
Enter postedon<input type="text" ng-model="job.postedon"><br>
Enter job location <input type="text" ng-model="job.location"><br>
enter company name<input type="text" ng-model="job.companyname"><br>


<input type="submit" value="post" ng-click="saveJob()">
</form>
